@import 'commonStyles/styleVars.scss';

$menuBorderPlain: #555;
$menuBorderPrimary: $purple4;
$menuBorderSecondary: $blue2;
$menuSearchBoxHeight: 40px;

$menuOpenerHeight: 20px;
$menuOpenerBorderRadius: 3px;

$menuContentBorderRadius: 3px;

$menuOpenerTextSize: 10px;

$menuItemHeight: 24px;
$menuItemTextSize: 10px;
$menuItemColorPlain: #555;
$menuItemColorPrimary: $purple5;
$menuItemColorSecondary: $blue2;
$menuItemBorderColor: #f0f0f0;
$menuItemHoverColor: #f2f2f2;
