.Risk {
  padding: 0 40px;

  .risks-include-system-ns {
    .MuiTypography-body1 {
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      margin-top: 3px;
    }

    .MuiSwitch-root {
      width: 36px;
      height: 14px;
      display: flex;
      padding: 0;
      overflow: visible;
      margin-right: 5px;
    }

    .MuiSwitch-switchBase {
      padding: 1px 0 0 1px;
    }

    .MuiSwitch-track {
      width: 100%;
      height: 100%;
      z-index: -1;
      border-radius: 50px;
      border: 1px solid #ccc;
    }

    .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
      background-color: var(--oc-primary-bg-color);
      border-color: var(--oc-primary-bg-color);
      opacity: 1;
    }

    .MuiSwitch-colorSecondary.Mui-checked {
      color: white;
    }

    .MuiSwitch-thumb {
      width: 14px;
      height: 14px;
      box-shadow: none;
      border-radius: 50%;
      background-color: currentColor;
    }

    .MuiSwitch-input {
      top: 0;
      cursor: inherit;
      height: 100%;
      margin: 0;
      opacity: 0;
      padding: 0;
      z-index: 1;
      position: absolute;
    }

    .jss48.Mui-checked {
      color: white;
    }

    .jss54.Mui-checked {
      transform: translateX(14px);
    }
  }

  .Home-header {
    display: flex;
    align-items: center;

    h2 {
      font-weight: 100;
      color: #5e5e5e;
      font-size: 28px;
      margin-bottom: 0;
    }

    .right-controls {
      position: absolute;
      right: 20px;
      display: flex;
      .refresh-state-btn {
        margin: 20px 10px;
        padding: 6px 10px;
        border: solid 1px white;
        background-color: #5e4c73;
        font-size: 14px;
        border-radius: 4px;
        color: #e4e0e8;
        text-decoration: none;
        display: flex;
        align-items: center;
        width: 125px;
        text-align: right;

        .refreshIcon {
          font-size: 16px;
          color: white;
        }

        span {
          padding-left: 12px;
        }

        &:hover {
          cursor: pointer;
          background-color: #451d73;
        }

        &:focus {
          outline: 0;
        }

        &:disabled {
          cursor: default;
          background: gray;
        }
      }


    }
  }

}
