.Risk {
  padding: 0 40px;

  .Home-header {
    display: flex;
    align-items: center;

    h2 {
      font-weight: 100;
      color: #5e5e5e;
      font-size: 28px;
      margin-bottom: 0;
    }

    .refresh-state-btn {
      position: absolute;
      right: 0;
      margin: 20px 10px;
      padding: 6px 10px;
      border: solid 1px white;
      background-color: #5e4c73;
      font-size: 14px;
      border-radius: 4px;
      color: #e4e0e8;
      text-decoration: none;
      display: flex;
      align-items: center;
      width: 125px;
      text-align: right;

      .refreshIcon {
        font-size: 16px;
        color: white;
      }

      span {
        padding-left: 12px;
      }

      &:hover {
        cursor: pointer;
        background-color: #451d73;
      }

      &:focus {
        outline: 0;
      }

      &:disabled {
        cursor: default;
        background: gray;
      }
    }
  }

}
