.OCScrollTable {
   display: flex;
   flex: 1;
   flex-basis: 0px; // for firefox
   flex-direction: column;
   overflow-x: auto;

   .xScroll {
      flex: 1 1 0;
      overflow-x: auto;
      overflow-y: hidden;
      display: flex;
      flex-direction: row;
   }

   .header-wrapper {
      flex: 0 0 auto;
      overflow: visible;
   }

   .xContent {
      flex: 1 1 0;
      display: flex;
      flex-direction: column;
   }

   .yScroll {
      flex: 1 1 0;
      overflow-x: hidden;
      overflow-y: auto;
      display: flex;
      position: relative;
      flex-direction: column;
   }

   .table-body {
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
   }
}